.DS_Store
fullchain.pem
privkey.pem
.stignore
.stversions/
.stfolder
notes.sh
create_containers.yml
releases.json
notes
*test*
*artemis*
*dev*
*.vim
*.war
*scripts*
deploy.log
hosts
vars_backup.yml
deploy/inventory/host_vars/*
!deploy/inventory/host_vars/*.template
