.DS_Store
fullchain.pem
privkey.pem
.stignore
.stversions/
notes.sh
create_containers.yml
releases.json
notes
*test*
*dev*
*.vim
*.war
deploy.log
hosts
deploy/inventory/host_vars/*
!deploy/inventory/host_vars/*.teplate
