{% for host in groups['monitoring'] %}
{% if hostvars['proxy']['munin_base_path'] is defined  and  hostvars['proxy']['munin_base_path'] is not none and  hostvars['proxy']['munin_base_path'] | trim != '' %}
location /{{ munin_base_path }} {
  proxy_pass http://{{hostvars[host]['ansible_host']+':80' }}/{{ munin_base_path }};
{% else  %}
location /{{ server_monitoring }} {
  proxy_pass http://{{hostvars[host]['ansible_host']+':80' }}/{{ server_monitoring }};
{% endif  %}
  include /usr/local/openresty/nginx/conf/proxy_params;
  proxy_redirect off;
  proxy_hide_header X-Powered-By;
  proxy_hide_header Server;
  include /usr/local/openresty/nginx/conf/security_headers.conf;
  auth_basic "Restricted Content";
  auth_basic_user_file /usr/local/openresty/nginx/conf/.htpasswd;
}
{% endfor %}
