---
- name: Get host facts
  ansible.builtin.setup:
    gather_subset:
      - network
      - "!min"

- name: Ensure acl packate is installed
  become: true
  ansible.builtin.apt:
    name: acl
    state: present
    update_cache: true
  when: inventory_hostname in groups['databases']

- name: Allow ssh on port 22
  community.general.ufw:
    rule: limit
    port: "{{ ansible_port | default('22') }}"
    src: "0.0.0.0/0"
    proto: tcp
    comment: Allow ssh access to the instance

- name: Installing postgreSQL-{{ postgresql_version }} database
  ansible.builtin.include_tasks: pg-install.yml
