{% if  hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string == "ROOT"  %}
location / {
   proxy_pass  http://{{ item | replace('-', '_') }}_tomcat;
   include /usr/local/openresty/nginx/conf/proxy_params;
   proxy_redirect off;
   proxy_set_header X-Forwarded-Port {{ https_port | default('443') }};
   proxy_hide_header Strict-Transport-Security;
   proxy_hide_header X-Powered-By;
   proxy_hide_header Server;
   include /usr/local/openresty/nginx/conf/security_headers.conf;
   }
{% if app_monitoring is defined and app_monitoring | trim == 'glowroot' %}
{# glowroot location block configs #}
location /glowroot/ {
   proxy_pass http://{{ hostvars[item]['ansible_host']+':4000' }}/glowroot/;
   include /usr/local/openresty/nginx/conf/proxy_params;
   proxy_redirect off;
   proxy_set_header X-Forwarded-Port {{ https_port | default('443') }};
   proxy_hide_header Strict-Transport-Security;
   proxy_hide_header X-Powered-By;
   proxy_hide_header Server;
   include /usr/local/openresty/nginx/conf/security_headers.conf;
   }
{% endif %}
{% else %}
location /{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}/ {
   {# instance location block configs #}
   proxy_pass http://{{ item | replace('-', '_') }}_tomcat/{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}/;
   include /usr/local/openresty/nginx/conf/proxy_params;
   proxy_redirect off;
   proxy_set_header X-Forwarded-Port {{ https_port | default('443') }};
   proxy_hide_header Strict-Transport-Security;
   proxy_hide_header X-Powered-By;
   proxy_hide_header Server;
   include /usr/local/openresty/nginx/conf/security_headers.conf;
   }
{% if app_monitoring is defined and app_monitoring | trim == 'glowroot' %}
{# glowroot location block configs #}
location /{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}-glowroot {
   proxy_pass http://{{ hostvars[item]['ansible_host']+':4000' }}/{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}-glowroot;
   include /usr/local/openresty/nginx/conf/proxy_params;
   proxy_redirect off;
   proxy_set_header X-Forwarded-Port {{ https_port | default('443') }};
   proxy_hide_header Strict-Transport-Security;
   proxy_hide_header X-Powered-By;
   proxy_hide_header Server;
   include /usr/local/openresty/nginx/conf/security_headers.conf;
   }
{% endif %}
{% endif %}
