---
- name: Download and extract glowroot
  ansible.builtin.unarchive:
    src: https://github.com/glowroot/glowroot/releases/download/v0.14.0/glowroot-0.14.0-dist.zip
    dest: /opt/
    owner: root
    group: tomcat
    remote_src: true
    mode: "0770"
    creates: /opt/glowroot/
    exclude:
      - glowroot/lib/glowroot-central-collector-https-osx.jar
      - glowroot/lib/glowroot-central-collector-https-windows.jar

- name: Find jar files in /opt/glowroot directory
  ansible.builtin.find:
    path: "/opt/glowroot/"
    recurse: true
    depth: 2
    patterns:
      - "*.jar" # search all files ending with .jar
    excludes:
      - plugin-pointcuts.jar
  register: glowroot_jar_files

- name: Change ownership and permissions of found jar files in /opt/glowroot/lib
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: tomcat
    mode: '0640'
  loop: "{{ glowroot_jar_files.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: Check if /opt/glowroot/admin.json file exists
  ansible.builtin.stat:
    path: /opt/glowroot/admin.json
  register: glowroot_admin_file_status

- name: Copy glowroot configs to the instances
  ansible.builtin.template:
    src: glowroot_admin.json
    dest: /opt/glowroot/admin.json
    owner: root
    group: tomcat
    mode: "0660"
  when: not glowroot_admin_file_status.stat.exists
  notify: Restart Tomcat

- name: Configure glowroot basepath
  ansible.builtin.lineinfile:
    path: /opt/glowroot/admin.json
    regexp: '^(.*)"contextPath"'
    line: '\1"contextPath": "{{ "/glowroot" if dhis2_base_path | default(inventory_hostname) | to_fixed_string == "ROOT" else "/" + dhis2_base_path | default(inventory_hostname) | to_fixed_string + "-glowroot" }}",'
    backrefs: true
  notify: Restart Tomcat
