---
- name: Get host facts
  ansible.builtin.setup:
    gather_subset:
      - network
      - "!min"

- name: Allow ssh on port 22
  community.general.ufw:
    rule: limit
    port: "{{ ansible_port | default('22') }}"
    src: "0.0.0.0/0"
    proto: tcp
    comment: Allow ssh access to the instance
    state: enabled

- name: "Installing {{ proxy }} proxy "
  ansible.builtin.include_tasks: "{{ proxy }}-install.yml"
