[Unit]
Description=Starts and stops {{ _service.name }} instance on this system

[Service]
Type=forking
User={{ _service.user }}
Group={{ _service.group }}
ExecStart={{ _service.start }}
ExecStop={{ _service.stop }}

# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
