---
- name: "Preparing localhost"
  hosts: 127.0.0.1
  become: true
  gather_facts: false
  roles:
    - pre_requisites

- name: "DHIS2 setup"
  gather_facts: false
  force_handlers: true
  become: true
  hosts: all:!127.0.0.1
  vars_files:
    - vars/vars.yml
  roles:
    - role: postgres
    - role: dhis2
    - role: proxy
    - role: monitoring
  tasks:
    - name: "Install and configure unattended_upgrades"
      ansible.builtin.include_tasks: playbooks/unattended_upgrades.yml
      when:
        - unattended_upgrades is defined
        - unattended_upgrades | bool == true
  handlers:
    - name: "Handlers to restart unattended_upgrades etc"
      ansible.builtin.import_tasks: playbooks/handlers.yml
