<Location /{{ item }}>
    Require all granted
    ProxyPass "http://{{hostvars[item]['ansible_host']+':8080' }}/{{ item }}"
    ProxyPassReverse "http://{{hostvars[item]['ansible_host']+':8080'}}/{{ item }}"
</Location>

{% if app_monitoring is defined and app_monitoring | trim == 'glowroot' %}
<Location /{{ item }}-glowroot>
    Require all granted
    ProxyPass "http://{{hostvars[item]['ansible_host']+':4000' }}/{{ item }}-glowroot"
    ProxyPassReverse "http://{{hostvars[item]['ansible_host']+':4000'}}/{{ item }}-glowroot"
</Location>
{% endif %}
