  <Location /munin>
    Require all granted
    ProxyPass "http://{{hostvars['monitor']['ansible_host']+':80' }}/munin"
    ProxyPassReverse "http://{{hostvars['monitor']['ansible_host']+':80' }}/munin"
  </LOcation>
