##
server {
  listen  80;
  server_name {{ fqdn }};
  if ($host != "{{ fqdn }}") {
    return 444;
  }
  return 301 https://$host$request_uri;
}
## https Block
server {
  listen 443 ssl;
  server_name {{ fqdn }};
  ssl_certificate /etc/nginx/ssl/{{ ssl_certificate }};
  ssl_certificate_key /etc/nginx/ssl/{{ ssl_key }};
  ssl_protocols TLSv1.2 TLSv1.3;
  #ssl_session_cache shared:SSL:20m;
  ssl_session_timeout 10h;
  ssl_prefer_server_ciphers on;
  underscores_in_headers on;
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

# This is quite strict.  If you have much older windoze browsers
# to support you might need the line below instead.
  #ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
# ssl_ciphers         HIGH:!aNULL:!MD5;
  client_max_body_size 200M;
  if ($host != "{{ domain_name }}") {
    return 444;
  }
# Location to proxy-forward everything to the backend server
  location / {
    proxy_pass https://{{ dhis2_instance +':8080' }};
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_buffer_size 128k;
    proxy_buffers 8 128k;
    proxy_busy_buffers_size 256k;
  }
}

