config: {}
networks:
- config:
    ipv4.address: "{{ lxd_network }}"
    ipv4.nat: "true"
    ipv6.address: none
    ipv4.dhcp.ranges: "{{ '.'.join(lxd_network.split('.')[:3]) + '.10-' + '.'.join(lxd_network.split('.')[:3])+'.19'}}" 
  description: ""
  managed: false
  name: "{{lxd_bridge_interface}}"
  type: ""
storage_pools:
- config: {}
  description: ""
  name: default
  driver: dir
profiles:
- config:
    environment.TZ: "{{ timezone }}"
    #user.user-data: |
      #package_upgrade: trudde
  description: "Default LXD profile"
  devices:
    eth0:
      name: eth0
      nictype: bridged
      parent: lxdbr0
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: default
cluster: null
