{% set _glowroot_enabled = app_monitoring is defined and app_monitoring | trim == 'glowroot' %}
{% set _glowroot_locked = wireguard_monitoring_locked | default(false) | bool %}
{% if  hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string == "ROOT"  %}
<Location />
    Require all granted
    ProxyPass "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host'])) | hostport(tomcat_port | default('8080')) }}/"
    ProxyPassReverse "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host'])) | hostport(tomcat_port | default('8080')) }}/"
</Location>

{% if _glowroot_enabled and not _glowroot_locked %}
<Location /glowroot>
    Require all granted
    ProxyPass "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host']))+':4000' }}/glowroot"
    ProxyPassReverse "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host']))+':4000'}}/glowroot"
</Location>
{% endif %}
{% else %}
<Location /{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}>
    Require all granted
    ProxyPass "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host'])) | hostport(tomcat_port | default('8080')) }}/{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}"
    ProxyPassReverse "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host'])) | hostport(tomcat_port | default('8080')) }}/{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}"
</Location>

{% if _glowroot_enabled and not _glowroot_locked %}
<Location /{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}-glowroot>
    Require all granted
    ProxyPass "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host']))+':4000' }}/{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}-glowroot"
    ProxyPassReverse "http://{{ (hostvars[item]['service_ip'] | default(hostvars[item]['ansible_host']))+':4000'}}/{{ hostvars[item]['dhis2_base_path'] | default(item) | to_fixed_string }}-glowroot"
</Location>
{% endif %}
{% endif %}
{# Location / matches every URL; later LocationMatch sections merge last
   and override ProxyPass for the upload paths. #}
{% include 'clamav/apache_locations.j2' %}

