{{ ansible_managed | comment }}
apiVersion: 1
policies:
  - orgId: 1
    receiver: "{{ alerting_default_contact_point | default('telegram') }}"
    group_by:
      - alertname
      - instance
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h