# Munin hosts.
{#
{% for host in munin_hosts %}
[{{ host.name }}]
    address {{ host.address }}
{% if host.extra is defined %}
{% for extra in host.extra %}
    {{ extra }}
{% endfor %}
{% endif %}
{% endfor %}
#}
{# {% for host in ansible_play_batch %} #}

{% for host in ansible_play_hosts_all %}
[{{ host }}]
    address {{ hostvars[host]['ansible_host'] }}
    use_node_name yes
{% endfor %}
