{% for database_host in groups['databases'] %}
  - job_name: {{ database_host }}
    static_configs:
      - targets:
         - {{ hostvars[database_host]['service_ip'] | default(hostvars[database_host]['ansible_host']) }}:9187
{% endfor %} 
{% for dhis2_host in groups['instances'] %}
  - job_name: {{ hostvars[dhis2_host]['dhis2_base_path'] | default(dhis2_host) | to_fixed_string }}
    metrics_path: /{{ hostvars[dhis2_host]['dhis2_base_path'] | default(dhis2_host) | to_fixed_string }}/api/metrics
    basic_auth:
      username: admin
      password: district
    static_configs:
      - targets:
        - {{ hostvars[dhis2_host]['service_ip'] | default(hostvars[dhis2_host]['ansible_host']) }}:8080
{% endfor %}
{% if ansible_connection == "lxd" %}
  - job_name: LXD Host
    static_configs:
      - targets:
          - {{ lxd_network.split('/')[0] }}:9100
{% endif %}
{% for web_host in groups['web'] %}
{# crowdsec_metrics_expose defaults to true in the crowdsec role whenever this template is used #}
{% if hostvars[web_host]['crowdsec_enabled'] | default(false) | bool and hostvars[web_host]['crowdsec_metrics_enabled'] | default(true) | bool and hostvars[web_host]['crowdsec_metrics_expose'] | default(true) | bool %}
  - job_name: crowdsec-{{ web_host }}
    static_configs:
      - targets:
         - {{ hostvars[web_host]['service_ip'] | default(hostvars[web_host]['ansible_host']) }}:{{ hostvars[web_host]['crowdsec_metrics_port'] | default(6060) }}
{% endif %}
{% endfor %}
