*nat
:PREROUTING ACCEPT [0:0]
{% for container in containers %}
{% if container.name == "proxy" %}
-A PREROUTING -i {{lxd_bridge_interface}} -p tcp --dport 80 -j  DNAT --to-destination {{container.ip}}:80
-A PREROUTING -i {{lxd_bridge_interface}} -p tcp --dport 443 -j  DNAT --to-destination {{container.ip}}:443
{% endif %}
{% endfor %}
# setup routing
-A POSTROUTING -s {{lxd_network}} ! -d {{lxd_network}} -j MASQUERADE
COMMIT
