# Postgresql settings for DHIS2
# Adjust depending on number of DHIS2 instances and their pool size
# By default each instance requires up to 80 connections
# This might be different if you have set pool in dhis.conf
password_encryption = scram-sha-256
# max_connections = 200 
{% if pg_max_connections is defined and pg_max_connections | regex_search('\d+') %}
max_connections = {{ pg_max_connections }}
{% else %}
max_connections = 200
{% endif %}

# Tune these according to your environment
# About 25% available RAM for postgres
# shared_buffers = 3GB
{% if pg_shared_buffers is defined and pg_shared_buffers | regex_search('^\d+(GB|MB|KB)$') %}
shared_buffers = {{ pg_shared_buffers }}
{% endif %}

# Multiply by max_connections to know potentially how much RAM is required
# work_mem=20MB
{% if pg_work_mem is defined and  pg_work_mem | regex_search('^\d+(GB|MB|KB)$') %}
work_mem = {{ pg_work_mem }}
{% endif %}

# As much as you can reasonably afford.  Helps with index generation 
# during the analytics generation task
# maintenance_work_mem=512MB
{% if pg_maintenance_work_mem is defined and pg_maintenance_work_mem | regex_search('^\d+(GB|MB|KB)$') %}
maintenance_work_mem = {{ pg_maintenance_work_mem }}
{% endif %}

# Approx 80% of (Available RAM - maintenance_work_mem - max_connections*work_mem)
# effective_cache_size=8GB
{% if pg_effective_cache_size is defined and pg_effective_cache_size | regex_search('^\d+(GB|MB|KB)$') %}
effective_cache_size = {{ pg_effective_cache_size }}
{% endif %}

checkpoint_completion_target = 0.8
synchronous_commit = off
wal_writer_delay = 10000ms
random_page_cost = 1.1
log_min_duration_statement = 300s

# This is required for DHIS2.32+
max_locks_per_transaction = 128

# This is required if you are running PI on pg 12+ 
{% if postgresql_version > 10 %}
jit = off 
{% endif %}
