---
# these are variables specific to the created instance, its just an example template. 
# NOTE: The name should correspond to the lxc container instance name you'll be creating, the same name you have on your inventory file. 
# A few examples. 

heap_memory_size: 4G 

# pool configuration 
# 
# analytics
analytics.table.unlogged: on
#
# Analytics server-side cache expiration in seconds
analytics.cache.expiration: 3600
