server {
    listen 80 default_server;
    server_name {{ fqdn }};
    {%- if SSL_TYPE == 'letsencrypt' %} 
    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
      }
    {%- endif %}
    location / {
        rewrite ^ https://{{ fqdn }}$request_uri? permanent;
    }
}
