# http block
server {
  listen 80 ;
  server_name {{ fqdn }};
  return 301 https://$host$request_uri;
}

# https block 
server {
  listen 443 ssl;
  ssl_stapling on;
  ssl_stapling_verify  on;
  server_name {{ fqdn }};
{%if ssl_type == 'letsencrypt'%} 
  ssl_certificate /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;
{%elif ssl_type == 'customssl'%}
  ssl_certificate /etc/ssl/{{ fqdn }}/customssl.crt;
  ssl_certificate_key /etc/ssl/{{ fqdn }}/customssl.key;
{%endif%}
  ssl_protocols TLSv1.2 TLSv1.3;
  #ssl_session_cache shared:SSL:20m;
  ssl_session_timeout 10h;
  ssl_dhparam /etc/nginx/dhparams.pem;
  ssl_prefer_server_ciphers on;
  underscores_in_headers on;
  {#- add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;#}
  add_header Referrer-Policy "no-referrer";
  add_header X-XSS-Protection "1; mode=block" always;
  keepalive_timeout 10;
  send_timeout 10;
  error_log /var/log/nginx/error.log info;
  ssl_session_tickets off;
  client_body_timeout 10;
  client_header_timeout 10;
  client_max_body_size 100M;
  proxy_set_header X-Frame-Options "SAMEORIGIN";
  # in case your want access your site on 
{% for host in groups['instances']  if hostvars[host]['proxy_rewrite'] is defined and 
(hostvars[host]['proxy_rewrite'] == true or hostvars[host]['proxy_rewrite'] == "true") %}
{% if loop.first %}
  rewrite ^/$ /{{host}}; 
{%endif%}
{%endfor%}
# This is quite strict.  If you have much older windoze browsers
  ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
# Location configuration 
    include  conf.d/upstream/*;
  location / {
  return 444; 
  }
  if ($host != "{{ fqdn }}") {
    return 444;
    }
}

